test_sample/
Genome_and_Index/
*.fasta
*.fq
*.gz
vcf_exploration/
test_recal_filters/
qualimap/
wgs_fastqc/
Various_Metrics/
scripts/more_detailed/
*.docx
*.xlsx
IBDNe/
manuscript/
SampleSelection/
reference/
scripts/*.ipynb
scripts/vcf_filtering*
scripts/.ipynb_checkpoints/
